div#area{
    font: normal 15pt Arial;
    background:rgb(4, 137, 160);
    color: #ffffff;
    height: 300px;
    width: 200px;
    text-align: center;
    display: grid;
    place-items: center;
}
div#resultado{
    background:rgb(31, 238, 100);
    font: normal 15pt Arial;
    color: #0d0e0d;
    height: 150px;
    width: 200px;
    text-align: center;
    display: grid;
    place-items: center;
}
